@import "button";
// 基础样式
$baseColor: #009688;
$baseBg: #009688;
$baseSize: 20px;

// 背景色
$lightGreyBg: #f2f2f2;
$orangeRedBg: #ff5759;
$resetBg: #e6a23c;

// 字体大小
$font20: 20px;
$font24: 24px;
$font26: 26px;
$font28: 28px;
$font30: 30px;
$font32: 32px;

// 字体颜色
$lightGreyColor: #999;
$orangeRedColor: #ff5759;
$helpColor: #ff7e11;

