@import "base";
.mt20{margin-top: $baseSize;}
.mr20{margin-right: $baseSize;}
.mb20{margin-bottom: $baseSize;}
.ml20{margin-left: $baseSize;}
.pd20{padding: $baseSize;}

.mt10{margin-top: 10px;}
.mr10{margin-right: 10px;}
.mb10{margin-bottom: 10px;}
.ml10{margin-left: 10px;}
.mt5{margin-top: 5px;}
.mr5{margin-right: 5px;}
.mb5{margin-bottom: 5px;}
.ml5{margin-left: 5px;}

.budgeOrangeRed{color: $orangeRedColor;}

.tac{text-align: center;}


